* {
    padding: 0;
    margin: 0;
    /**/
    font-size: 62.5%;
    /*_1rem = 10px_*/
} 

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&family=Comfortaa:wght@300;400&display=swap');
/*
font-family: 'Bitter', serif;   Regular 400     SemiBold 600
font-family: 'Comfortaa', cursive;  Light 300   Regular 400
*/

/*NavBar*/
#navCont{
    margin: 0;
    padding-left: .3rem;
    padding-right: .3rem;
}

#navLogo{
    padding: .2rem;
}

#navTitle{
    font-family: 'Bitter';
    font-weight: 600;
    font-size: 4rem;
}

.navLinks{
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 2rem;
}